
.hero-section {
    display: flex;
    padding-bottom: 20px;
    padding-top: 25px;
    align-items: center;
}

.hero-left-section {
    width: 50%;
    padding-top: 35px;
}

.hero-left-section .hero-text {
    color: var(--secondary-text-color);
    font-size: 20px;
    margin: 0%;
    padding-bottom: 5px;

}

.hero-section-heading {
    color: #959595;
    font-size: 28px;
    font-weight: bold;
    margin: 0%;
    
   
}


.hero-section-main-heading {
    font-size: 70px;
    margin: 0%;
    font-weight: 500;
    padding: 10px 0px 10px 0px;
    cursor: pointer;
    color: var(--primary-color);
     transition: letter-spacing 0.8s ease ;
}
.hero-section-main-heading:hover{
    letter-spacing: 1px;
}

.social-logo {
    position:relative;
    width: 40px;
    height: 40px;
    border: 1px solid rgb(56, 54, 54);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
     background: transparent;
    transition: all 0.3s ease;
    cursor: pointer;
    overflow: hidden;
}
.logo-effect{
   display: flex;
    align-items: center;
    gap: 2px;
    justify-content: center;
    height: 100%;
    width: 50%;
    position: relative;
    transition: 0.3s;  
}
.logo-animation{
    display: flex;
    justify-content: space-between;
    top: 0;
    right: 0;
    position: absolute;
    width: 200%;
    height: 100%;
    transition: 0.3s;
}
.social-logos {
    display: flex;
    gap: 10px;
    padding: 20px 0px 20px 0px;
}


.social-logo:nth-child(1):hover {
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
    border-color: #bc1888;
}


.social-logo:nth-child(2):hover {
    background: #0077b5;
    border-color: #0077b5;
}

.social-logo:nth-child(3):hover {
    background: #ea4c89;
    border-color: #ea4c89;
}


.social-logo:nth-child(4):hover {
    background: #1769ff;
    border-color: #1769ff;
}


.hero-section-btn {
    display: flex;
    padding: 30px 0px 30px 0px;
    gap: 10px;
}

.hero-section .experience {
    display: flex;
    background-color: #282626;
    justify-content: center;
    padding: 15px;
    border-radius: 8px;
    width: max-content;
}

.hero-section .experience-wrap {
    width: max-content;
    padding: 30px 0px 30px 0px;
}

.hero-section .number {
    color: var(--primary-color);
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
}

.hero-section .experience .number-text {
    color: #DFDFDF;
    font-size: 20px;
    margin: 0px;
    padding-top: 10px;
    cursor: pointer;
    transition: transform 0.5s ease;

}
.hero-section .experience .number-text:hover {
    transform: translateY(-10%);
}

.experience-container {
    border-right: 1px solid #c5c1c1;
    padding-right: 20px;
    padding-left: 10px;
    padding-bottom: 10px;

}

.experience-container1 {
    padding-right: 20px;
    padding-left: 10px;
}

.hero-section-right-container {

    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: end;
    height: auto;
    margin-top: -45px;
}

.hero-section-right-container .image {
    width: 70%;
    height: 100%;
    z-index: 2;
   cursor: pointer;
}

.hero-section-right-container::after {
    content: "";
    display: block;
    background-color: #676767;
    position: absolute;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    z-index: 1;
    aspect-ratio: 1 / 1;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits:false;
}
.hero-section-right-container::before {
    content: "";
    display: block;
    background-color: transparent;
    position: absolute;
    width: 81%;
    height: 81%;
    border-radius: 50%;
    z-index: 1;
    aspect-ratio: 1 / 1;
    background: conic-gradient(

    var(--primary-color) var(--angle),

     #030303 0deg

  );
}

.hero-section-right-container:hover::before{
    animation: fill-circle 1s ease forwards; 
}

@keyframes fill-circle {

  from {

    --angle: 0deg;

  }

  to {

    --angle: 360deg;

  }

}

@media screen and (max-width:1212px) {

    .hero-section-main-heading {
        font-size: 56px;

    }
}


@media screen and (max-width:1050px) {

    .hero-section {
        width: 95%;
        display: flex;
        justify-content: space-between;
    }

    .hero-left-section {
        width: 50%;
        padding-top: 60px;
    }

    .hero-section-main-heading {
        font-size: 55px;

    }

    .hero-section-heading {
        font-size: 20px;
    }

}

@media screen and (max-width:995px) {
    .hero-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero-left-section {
        width: 90%;
        padding-top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero-section-main-heading {
        font-size: 65px;
    }

    .hero-section-heading {
        font-size: 28px;
    }

    .hero-section-right-container {
        width: 80%;
        padding-top: 20px;
    }

}

@media screen and (max-width:931px) {

    .nav-bar-container .header-btn {
        width: 22%;
    }

    .nav-bar-container .list-link {
        font-size: 18px;
    }

}

@media screen and (max-width:765px) {
    .hero-section-right-container {
        width: 95%;
    }

}

@media screen and (max-width:554px) {
    .hero-section-main-heading {
        font-size: 52px;
    }

    .hero-section .experience .number-text {
        font-size: 16px;
    }

    .hero-section .experience-wrap {
        display: flex;
        justify-content: center;
    }

    .hero-section-right-container {
        width: 90%;
    }
     .hero-section-right-container {
        width: 100%;
    }
}

@media screen and (max-width:438px) {
    .hero-section-main-heading {
        font-size: 40px;
    }

    .hero-section-heading {
        font-size: 20px;
    }

    .experience-container1 {
        padding-right: 0px;
    }

    .hero-section .number {
        font-size: 18px;
    }

    .hero-section .experience {
        padding: 8px;
    }

    .experience-container {

        padding-right: 5px;
        padding-left: 5px;
        padding-bottom: 5px;
    }

    .hero-section-right-container .circle {

        width: 360px;
        height: 360px;
    }

}

@media screen and (max-width:342px) {
    .hero-section-heading {
        font-size: 16px;
    }

    .hero-section-main-heading {
        font-size: 32px;
    }

    .hero-section .experience {
        flex-direction: column;
    }

    .hero-section .experience {
        padding: 20px;
    }

    .hero-section .experience .number-text {
        font-size: 24px;
    }

    .hero-section .number {
        font-size: 20px;
    }

    .experience-container {
        border-bottom: 1px solid #c5c1c1;
        border-right: none;
    }

    .hero-section-btn {
        flex-direction: column;
    }
}