.herosection-wraper {
    width: 100%;
    display: flex;
    justify-content: center;
    /* padding: 20px; */

}

.hero-section {
    width: 90%;
    display: flex;
    padding-bottom: 20px;
    padding-top: 25px;
    align-items: center;
}

.hero-left-section {
    width: 50%;
    padding-top: 35px;
    /* background-color: white; */
}

.hero-left-section .hero-text {
    color: #707070;
    font-size: 20px;
    margin: 0%;
    padding-bottom: 5px;

}

.hero-section-heading {
    color: #959595;
    font-size: 28px;
    font-weight: bold;
    margin: 0%;
}

.hero-section-main-heading {
    font-size: 70px;
    margin: 0%;
    font-weight: 500;
    padding: 10px 0px 10px 0px;
    color: #FD6F00;
}

.social-logo {
    width: 40px;
    height: 40px;
    border: 1px solid rgb(56, 54, 54);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-logos {
    display: flex;

    gap: 10px;
    padding: 20px 0px 20px 0px;
}



.hero-section-btn {
    display: flex;
    padding: 30px 0px 30px 0px;
    gap: 10px;
}

.hero-section .experience {
    display: flex;
    background-color: #282626;
    justify-content: center;
    padding: 15px;
    border-radius: 8px;
    width: max-content;
}

.hero-section .experience-wrap {
    width: max-content;
    padding: 30px 0px 30px 0px;
}

.hero-section .number {
    color: #FD6F00;
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
}

.hero-section .experience .number-text {
    color: #DFDFDF;
    font-size: 20px;
    margin: 0px;
    padding-top: 10px;


}

.experience-container {
    border-right: 1px solid #c5c1c1;
    padding-right: 20px;
    padding-left: 10px;
    padding-bottom: 10px;

}

.experience-container1 {
    padding-right: 20px;
    padding-left: 10px;
}

.hero-section-right-container {

    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: end;
    height: auto;
    margin-top: -45px;
}


/* .hero-section-right-container .circle {
    background-color: #282626;
    border-radius: 50%;
    width: 480px;
    height: 475px;
 

} */

.hero-section-right-container .image {

    /* position: absolute;
    top: 0px; */
    width: 70%;
    height: 100%;
    /* align-items: start; */
    /* bottom: 0%; */
    /* object-fit: contain; */

    z-index: 2;
    /* transform: translateY(-13%); */


    /* height: max-content; */
    /* height: 100%; */
    /* max-height: 900px; */
    /* aspect-ratio: 4/5; */

    /* right: 20; */
    /* left: 40px; */
    /* display: flex; */
    /* justify-content: center; */
}


.hero-section-right-container::after {
    content: "";
    display: block;
    background-color: #676767;
    position: absolute;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    z-index: 1;
    aspect-ratio: 1 / 1;
}

@media screen and (max-width:1212px) {

    /* .hero-left-section{
    width: 45%;

   }
   .hero-section-right-container{
    width: 55%;
   } */
    .hero-section-main-heading {
        font-size: 56px;

    }

    .hero-section .experience-wrap {
        /* padding: 0px; */
    }
}


@media screen and (max-width:1050px) {

    .hero-section {
        width: 95%;
        display: flex;
        justify-content: space-between;
    }

    .hero-left-section {
        width: 50%;
        padding-top: 60px;
    }

    .hero-section-main-heading {
        font-size: 55px;

    }

    .hero-section-heading {
        font-size: 20px;
    }

}

@media screen and (max-width:995px) {
    .hero-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero-left-section {
        width: 90%;
        padding-top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero-section-main-heading {
        font-size: 65px;
    }

    .hero-section-heading {
        font-size: 28px;
    }

    .hero-section-right-container {
        width: 80%;
        padding-top: 20px;
    }

}

@media screen and (max-width:931px) {

    .nav-bar-container .header-btn {
        width: 22%;
    }

    .nav-bar-container .list-link {
        font-size: 18px;
    }

}

@media screen and (max-width:765px) {
    .hero-section-right-container {
        width: 71%;
    }

}

@media screen and (max-width:554px) {
    .hero-section-main-heading {
        font-size: 52px;
    }

    .hero-section .experience .number-text {
        font-size: 16px;
    }

    .hero-section .experience-wrap {
        display: flex;
        justify-content: center;
    }

    .hero-section-right-container {
        width: 90%;
    }
     .hero-section-right-container {
        width: 100%;
        /* padding-top: 20px; */
    }
}

@media screen and (max-width:438px) {
    .hero-section-main-heading {
        font-size: 40px;
    }

    /* .hero-section .experience .number-text{
        font-size: 16px;
    } */
    .hero-section-heading {
        font-size: 20px;
    }

    .experience-container1 {
        padding-right: 0px;
    }

    .hero-section .number {
        font-size: 18px;
    }

    .hero-section .experience {
        padding: 8px;
    }

    .experience-container {

        padding-right: 5px;
        padding-left: 5px;
        padding-bottom: 5px;
    }

   

    .hero-section-right-container .circle {

        width: 360px;
        height: 360px;
    }

}

@media screen and (max-width:342px) {
    .hero-section-heading {
        font-size: 16px;
    }

    .hero-section-main-heading {
        font-size: 32px;
    }

    .hero-section .experience {
        flex-direction: column;
    }

    .hero-section .experience {
        padding: 20px;
    }

    .hero-section .experience .number-text {
        font-size: 24px;
    }

    .hero-section .number {
        font-size: 20px;
    }

    .experience-container {
        border-bottom: 1px solid #c5c1c1;
        border-right: none;
    }

    .hero-section-btn {
        flex-direction: column;
    }
}