/* .about-container {
    width: 100%;
    display: flex;
    justify-content: center;

} */

.aboutme-section {
    width: var(--page-width);
    padding-top: 100px;
    /* padding: 50px 0px 50px 0px; */
}

.left-section {
    /* width: 45%;
    position: relative;
    display: flex;
    
    align-items: end;
    height: 700px; */
    position: relative;
    width: 50%;
    display: flex;
    /* aspect-ratio: 1/1; */
    /* justify-content: center; */
    align-items: end;
    height: auto;
    /* background-color: #FD6F00; */
    margin-top: -120px;


}

/* .image-background{
    
 width: 469px;
 height: 582px;
 
  background-color: #282626;
  
  border-radius: 220px 220px 10px 10px;
  

   
  

} */
.left-section .image {
    /* position: absolute; */
    /* top: 0px; */
    width: 65% !important;
    height: 100%;
    /* bottom: 0%; */
    z-index: 2;


    object-fit: cover;
    /* filter: grayscale(100%); */
}

.left-section::after {
    content: "";
    display: block;
    background-color: #676767;
    position: absolute;
    width: 67%;
    height: 83%;
    /* border-radius: 50% 50% 5% 5%; */
    border-radius: 230px 230px 10px 10px;
    /* border-radius: 50%; */
    z-index: 1;
    aspect-ratio: 1 / 1;

}


.right-section {
    width: 50%;

}

.aboutme-container {
    display: flex;
    width: 100%;
    padding-top: 100px;
    justify-content: space-between;
    align-items: center;
}

.right-section .paragraph {
    color: var(--primary-text-color);
    font-size: 20px;
    /* padding-top: 80px; */
    margin: 0%;
    line-height: 1.9;
    text-align: justify;

    /* max-width: 650px;               */
    /* margin: auto;       */

}

.about-me-btn {
    padding: 50px 0px 0px 0px;

}

.about-me-social-icons {
    aspect-ratio: 6/1;
    padding-top: 50px;
    /* padding: 100px 0px 100px 0px; */
    width: 95%;
    display: grid;
    /* gap: 147px; */
    /* padding-left:50px ; */
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /* justify-content: ; */
}

.about-me-social-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.about-me-social-icons .round,
.rating-85,
.rating-60,
.rating-70 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    /* color: white; */
    border: 10px solid var(--primary-color);
    display: flex;
    align-items: center;
    /* text-align: center; */
    justify-content: center;
    /* background: linear-gradient(94.36deg, #FD6F00 3.1%, #E46400 94.54%); */

    /* background-color: antiquewhite; */
}

.rating-85 {
    border-top: 10px solid white;
    /* border-top-left-radius:10px ; */
}

.rating-60 {
    border-right: 10px solid white;
    border-top: 10px solid white;
}

.margin-0 {
    margin: 0%;
}

.persantage {
    color: var(--primary-color);
    padding: 10px 0px 10px 0px;
    font-weight: 600;
    font-size: 20px;
}

.persentage-text {
    color: var(--primary-text-color);
    font-size: 20px;
    font-weight: 500;

}

@media screen and (max-width:1430px) {
    .right-section {
        width: 45%;

    }

    .left-section {
        width: 55%;


    }
}

@media screen and (max-width:1231px) {
    .persentage-text {
        font-size: 20px;
    }

    .about-me-social-icons {
        width: 100%;
    }

    .right-section .paragraph {
        line-height: 1.5;
        /* font-size: 18px; */
        padding-top: 0%;

    }

    .about-me-social-icons {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
    }
}

@media screen and (max-width:1130px) {
    .right-section .paragraph {
        font-size: 18px;
    }
}

@media screen and (max-width:995px) {
    .aboutme-container {
        flex-direction: column;
        padding-top: 50px;
    }

    .left-section {
        margin-top: 0%;
        width: 90%;
        justify-content: center;
    }

    .right-section {
        width: 90%;
    }

    .right-section .paragraph {
        line-height: 1.9;
        font-size: 20px;
        padding-top: 25px;

    }

    .about-me-btn {
        display: flex;
        justify-content: center;
    }

}

@media screen and (max-width:588px) {
    .about-me-social-icons {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .right-section .paragraph {
        line-height: 1.5;
        font-size: 18px;
        padding-top: 0%;

    }

    .left-section {
        width: 100%;
    }

}