
.aboutme-section {
    width: 100%;
    padding-top: 100px;
}

.left-section {
    position: relative;
    width: 50%;
    display: flex;
    align-items: end;
    height: auto;
    justify-content: center;
    margin-top: -120px;
}

.left-section .image {
    width: 65% !important;
    height: 100%;
    z-index: 2;
    cursor: pointer;
    object-fit: cover;
}

.left-section::after {
    content: "";
    display: block;
    background-color: #676767;
    position: absolute;
    width: 61%;
    height: 83%;
    border-radius: 230px 230px 10px 10px;
    z-index: 1;
    aspect-ratio: 1 / 1;
}

.left-section::before {
    content: "";
    display: block;
    position: absolute;
    width: 61.5%;
    height: 83.3%;
    border-radius: 230px 230px 10px 10px;
    z-index: 1;
    aspect-ratio: 1 / 1;
     background: conic-gradient(

    var(--primary-color) var(--angle),

     #0b0b0b 0deg

  );
}

.left-section:hover:before {
animation: fillimage 1s linear forwards
}

@keyframes fillimage {

  from {
    --angle: 0deg;
  }

  to {
    --angle: 360deg;
  }

}

.right-section {
    width: 50%;
}

.aboutme-container {
    display: flex;
    width: 100%;
    padding-top: 100px;
    justify-content: space-between;
    align-items: center;
}

.right-section .paragraph {
    width: 90%;
    color: var(--primary-text-color);
    font-size: 20px;
    margin: 0%;
    line-height: 1.9;
    text-align: justify;
}

.about-me-btn {
    padding: 50px 0px 0px 0px;

}

.about-me-social-icons {
    aspect-ratio: 6/1;
    padding-top: 50px;
    cursor: pointer;
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-between;
   
}

.about-me-social-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits:false;
}

.about-me-social-icons .round {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
     --angle: calc(var(--percentage)*3.6deg);
    background: conic-gradient(

    var(--primary-color) var(--angle),

     #333 0deg

  );

}
.about-me-social-icons .round:hover{
animation: fill 1s linear forwards
}

@keyframes fill {

  from {

    --angle: 0deg;

  }

  to {

    --angle: calc(var(--percentage)*3.6deg);

  }

}


.round::before {
    content: '';
    position: absolute;
    width: 98px;
    height: 98px;
    border-radius: 50%;
    background: #000;
}

.margin-0 {
    margin: 0%;
}

.persantage {
    color: var(--primary-color);
    padding: 10px 0px 10px 0px;
    font-weight: 600;
    font-size: 20px;
}
.skill-icon {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}



.persentage-text {
    color: var(--primary-text-color);
    font-size: 20px;
    font-weight: 500;

}





@media screen and (max-width:1430px) {
    .right-section {
        width: 45%;

    }

    .left-section {
        width: 55%;


    }
}

@media screen and (max-width:1231px) {
    .persentage-text {
        font-size: 20px;
    }

    .about-me-social-icons {
        width: 100%;
    }

    .right-section .paragraph {
        line-height: 1.5;
        padding-top: 0%;

    }

    .about-me-social-icons {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
    }
}

@media screen and (max-width:1130px) {
    .right-section .paragraph {
        font-size: 18px;
    }
}

@media screen and (max-width:995px) {
    .aboutme-container {
        flex-direction: column;
        padding-top: 50px;
    }
    .right-section .paragraph{
        width: 100%;
    }

    .left-section {
        margin-top: 0%;
        width: 90%;
        justify-content: center;
    }

    .right-section {
        width: 90%;
    }

    .right-section .paragraph {
        line-height: 1.9;
        font-size: 20px;
        padding-top: 25px;
    }
    .about-me-btn {
        display: flex;
       justify-content: center;
    }
}

@media screen and (max-width:588px) {
    .about-me-social-icons {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .right-section .paragraph {
        line-height: 1.5;
        font-size: 18px;
        padding-top: 0%;
    }

    .left-section {
        width: 100%;
    }
     .right-section .paragraph {
   
        padding-top: 25px;

    }

}