/* .portfolio-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
} */

.portfolio-container {
    width: var(--page-width);
    padding-top: 100px;
    padding-bottom: 100px;
    
    /* background-color: aqua; */
}

.portfolio-btns {
    /* width: 60%; */
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns:1fr 1fr 1fr 1fr 1fr; */
    justify-content: center;
    gap: 20px;
    padding: 50px 0px 80px 0px;
    /* align-items: center; */
}

.portfolio-btn {
    width: max-content;
    background-color: #282626;
    color: #C6C6C6;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    padding: 20px 30px 20px 30px;

}

.portfolio-btn.color {
    /* background-color: linear-gradient(94.36deg, #FD6F00 3.1%, #E46400 94.54%); */
    background-color: var(--primary-color);
    color: white;

}

.portfolio-card-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    /* justify-content: center;
    align-items: center;
    text-align: center; */
}

@media screen and (max-width:1117px) {
    .portfolio-btn {
        font-size: 18px;
        padding: 12px 22px 12px 22px;
    }

    .portfolio-btns {
        gap: 10px;

    }

    .card-text-color,
    .card-title {
        font-size: 18px;
    }

    .card-footer {
        padding: 10px;

    }

    .portfolio-card-wrap {
        gap: 25px;
    }
}

@media screen and (max-width:821px) {
    .portfolio-card-wrap {
        grid-template-columns: 1fr 1fr;
        /* background-color: #FD6F00; */
    }
}

@media screen and (max-width:556px) {

    .card-title,
    .card-text-color {
        font-size: 15px;
    }
}

@media screen and (max-width:466px) {

    .portfolio-btn {
        font-size: 16px;
    }

    .portfolio-card-wrap {
        display: flex;
        overflow-x: auto;
        gap: 20px;
        padding-bottom: 10px;
    }

    .portfolio-card-wrap .card-1 {
        min-width: 75%;
    }

    .portfolio-card-wrap::-webkit-scrollbar {
        display: none;
    }


}

@media screen and (max-width:440px) {}