.flex{
    display: flex;
    padding: 20px;

}
.form-container{
    /* display: flex;
    justify-content: center; */
    /* max-width: 400px; */
}
.form{
    width: 800px;  
    background-color: rgb(241, 212, 176);
    /* display: flex;
    flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    border: 1px solid black;
}
.btn1{
    background-color: rgb(152, 224, 152);
    color: black;
    border: none;
    padding: 10px 20px 10px 20px;
    font-size: x-large;
    cursor: pointer;
}
.label{
    font-size: 20px;
    padding-right: 20px;
    /* padding: 20px; */
}
.form-text{
    width: 200px;
    outline: none;
    /* padding-right: 50px; */
    /* height: 15px; */

}