.profile-container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 0px 40px 0px;

}
.profile-section{
    width: 80%;
    display: flex;
    justify-content: center;
}
.information{
    width: 50%;
    align-items: center;
}
.heading{
    color: white;
    font-size: 44px;
}
.text{
    width: 70%;
    color:  #9C9C9C;
    font-size: 18px;
    padding-bottom: 15px;
}
.btn{
    padding: 15px 75px 15px 75px;
    font-size: 20px;
    background-color: #3F8E00;
    border: 1px solid #62BA1B;
    border-radius: 4px;
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
}
.featured-image .img{
    border-radius: 50%;

}
.featured-image{
    width: 50%;
    display: flex;
    justify-content: end;
}

