.partener-container{
    width: 100%;
    display:flex;
    justify-content: center;
}
.partener{
    width: 80%;
}
.partener-container .text{
    color: white;
}
.partener-logo{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 40px;
 
}
.partener-logo .logo{
     border: 1px solid #1B1B1B;
     border-radius: 6px;
     padding: 15px 20px 15px 20px;
     display: flex;
     align-items: center;
}
