.card-heading {
    color: #FD6F00;
    font-size: 24px;
    /* font-weight: 700; */


}

.card {
    background-color: #0f0e0e;
    padding: 30px 0px 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* justify-content: center; */
    border-radius: 24px;
    /* justify-content: center; */
    /* width: 20%; */
}

.card-text {
    color: #575757;
    width: 285px;
    margin: 0%;
    font-size: 20px;
}
.card-1{
    width: 100%;
/* width: max-content; */
/* position: relative; */
}
.card-footer{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    text-align: center;
    background-color: #282626;
    border-radius:0px 0px 16px 16px ;
    padding: 20px;
   font-size: 20px;
   font-weight: 600;
   
}
.card-header{
   width: 100%;
    /* height   ; */
}
.card-text-color{
    color:  #959595;

}
.card-img{
    width: 100%;
}

