.navigation-bar {
    width: 90%;
    background-color: #1B1B1B;
    display: flex;
    justify-content: space-around;
    border-radius: 14px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.list {
    width: 70%;
    /* background-color: aqua; */
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.list-item {
    text-decoration: none;
    color: #9C9C9C;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.logos {
    width: 15%;
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;

}