
.footer-Wrapper {
    background-color: #282626;
    padding: 50px 0px 50px 0px;

}

.footer {
    width: var(--page-width);
}

.footer-list {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
    padding: 0px;
}


.footer-list .list-item {
 
    font-size: 20px;
}
.footer-list .list-item-link{
    color:  var(--primary-text-color);
    text-decoration: none;
}
.footer-list .list-item-link:hover{
    color: var(--primary-color);
}

.personal-information {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    color:  var(--primary-text-color);
    font-size: 20px;
    cursor: pointer;
    margin-top: 0%;
 
}
.personal-information:hover svg{
    fill:  rgb(22, 75, 22);


}


.personal-information-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
      border-bottom: 1px solid #707070;
  
}
.website-info{
   
   display: flex;
   justify-content: center;
   color: var(--secondary-text-color);
   font-size: 16px;
   font-weight: 600;

}
@media screen and (max-width:415px){
    .footer-list .list-item,.personal-information{
  
    font-size: 18px;
}
.footer{
    width: 98%;
}
 

}
@media screen and (max-width:350px){
    .personal-information{
        font-size: 15px;
    }
    .website-info {
        font-size: 14px;
        flex-wrap: wrap;

        text-align: center;
    }
}

