
.footer-Wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #282626;
    /* background-color: black; */
    padding: 50px 0px 50px 0px;

}

.footer {
    width: 90%;
    /* background-color: aliceblue; */
}

.footer-list {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;


    /* align-items: center; */
    text-align: center;
    padding: 0px;
}

.footer-list-wrapper {
    /* padding: 20px;
    width: 50%; */
    /* display: flex;
    justify-content: space-between; */

}

.footer-list .list-item {
    /* padding: 20px; */
    font-size: 20px;
}

.personal-information {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    color:  #959595;
    font-size: 20px;
    margin-top: 0%;
    /* justify-content: space-between; */
}

.personal-information-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
      border-bottom: 1px solid #707070;
    /* width: 35%; */
}
.website-info{
    /* width: 35%; */
   /* border-top: 1px solid #707070; */
   display: flex;
   justify-content: center;
   color: #707070;
   font-size: 16px;
   font-weight: 600;

}
@media screen and (max-width:415px){
    .footer-list .list-item,.personal-information{
  
    font-size: 18px;
}
.footer{
    width: 98%;
}
 

}
@media screen and (max-width:350px){
    .personal-information{
        font-size: 15px;
    }
    .website-info {
        font-size: 14px;
        flex-wrap: wrap;

        text-align: center;
    }
}

