
.contact-container{
    width: var(--page-width);
    padding-bottom: 100px;
}
.form-row{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;  
}

.datatext{
display: flex;
align-items: center;
text-align: center;
gap: 4px;
    font-size: 18px;
    margin: 0px;
    width: max-content;
    padding-right: 10px;
}

.dataSucess{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    height: fit-content;
}

.form-row .input ,.text-area{
    width: 95%;
    padding: 15px;
    background-color: #282626;
    border: none;
    outline: none;
    border-radius: 5px;
    height: fit-content;
    color: var(--secondary-text-color);
}

.input1{
    background-color: #282626;
  border: none;
    outline: none;
    color: var(--secondary-text-color);
}

.text-area{
    height: 120px;
}
.contact-form-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}
.contact-form{
    width: 80%;
  
}
.form-btn{
   
    display: flex;
    justify-content: end;
    padding: 20px 0px 20px 0px;
}
.input-wrap{
    display: flex;
    flex-direction: column;
}
.input-text{
    padding: 10px;
    font-size: 14px;
    padding-bottom: 0px;
    color: rgb(199, 73, 73);
}


@media screen and (max-width:1117px){
    .contact-form {
    width: 95%;
}


    
}
@media screen and (max-width:865px){
    .contact-form {
        width: 100%;
    }
}
@media screen and (max-width:650px){
    .form-row{
        grid-template-columns: 1fr;
    }
    .dataSucess{
        flex-direction: column;
        gap: 10px;
    }
    .form-btn{
        justify-content: center;
    }
        .contact-form {
        width: 80%;
    }
   
    
}

