 /* *{
    background-color: black;
    color: white;
 } */
  .body{
    background-color: black;
    color: white;
    scroll-behavior: smooth;
  }
  
  .nav-bar-container{
    /* width: 100%; */
    /* display: flex;
    justify-content: center; */
    /* background-color: #FD6F00; */
}
.container-width{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    


}
.nav-bar-container{
     backdrop-filter: blur(10px);

}
.container-width-wrap{
    width: var(--page-width);
    display:flex;
    justify-content: center;
    align-items: center;

}
.nav-bar-container .nav-bar{
   
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 25px;
    
 }

 .nav-bar-container .list-item{
    list-style: none;
}
.nav-bar-container .list-link{
    text-decoration: none;
    color:var(--primary-text-color);
    font-size: 20px;
    
    padding: 10px;
    border-radius: 10px;

}
.nav-bar-container .nav-list{
    display: flex;
}

.nav-bar-container .list-link.color{
    color: var(--primary-color);
}

.nav-bar-container .logo{
    width: 10%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.toogler{

display: none;
justify-content: center;
}
/* .nav-bar-container {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 20px;
  background: transparent;
  color: black;
  transition: all 0.3s ease;
  z-index: 5;
} */

.nav-bar-container {
    position:relative;
    top:-100%;
    width: 100%; 
    z-index: 999;

}

/* .nav-bar-container.position {
    position: relative !important ;
    

} */

.nav-bar-container.show {
    position: sticky !important;
    top: 0;
    transition: top 0.5s ease;
}






.nav-bar-container .nav-list{
    width: 58%;
    display: flex;
justify-content: space-between;
}
.nav-bar-container .header-btn{
    width: 15%;
    display: flex;
    justify-content: end;
}
@media screen and (max-width:777px){
    .nav-bar-container .nav-list{
        display: none;
    }
    .toogler{
        display: flex;
        width: 15%;
    }
}
@media screen and (max-width:648px){
   
    
    .nav-bar-container .nav-bar {
        width: 96%;
       
        padding: 17px;
    }
  
    .primary-btn{
     padding: 8px 10px 8px 10px !important;
    }
    
}
@media screen and (max-width:430px){
   
   .nav-bar-container .logo{
    width: 25%;
   }
   .nav-bar-container .header-btn{
    width: 35% !important;
   }


    
}


