.primary-btn{
background: var(--primary-gradient-color);
color: #FFFFFF;
font-size: 18px;
padding: 10px 30px 10px 30px;
border: none;
border-radius:8px ;
display: flex;
text-align: center;
justify-content: center;
gap:15px;

/* width: 100%; */
}
.secondary-btn {
    padding: 7px 25px 7px 25px;
    color: var(--primary-text-color);
    border: 2px solid #959595;
    font-size: 20px;
    /* font-weight: bold; */
    border-radius: 8px;
    background-color: black;

}